vendor/autoload.php
vendor/composer/autoload_classmap.php
vendor/composer/autoload_namespaces.php
vendor/composer/autoload_psr4.php
vendor/composer/autoload_real.php
vendor/composer/autoload_static.php
vendor/composer/ClassLoader.php
vendor/composer/installed.json
vendor/composer/installed.php
vendor/composer/InstalledVersions.php
vendor/composer/LICENSE
vendor/composer/platform_check.php
vendor/robthree/twofactorauth/.gitignore
vendor/robthree/twofactorauth/.php-cs-fixer.dist.php
vendor/robthree/twofactorauth/CHANGELOG.md
vendor/robthree/twofactorauth/composer.json
vendor/robthree/twofactorauth/LICENSE
vendor/robthree/twofactorauth/logo.png
vendor/robthree/twofactorauth/multifactorauthforeveryone.png
vendor/robthree/twofactorauth/phpstan.neon
vendor/robthree/twofactorauth/phpunit.xml
vendor/robthree/twofactorauth/README.md
vendor/robthree/twofactorauth/TwoFactorAuth.phpproj
vendor/robthree/twofactorauth/TwoFactorAuth.sln
vendor/robthree/twofactorauth/.github/FUNDING.yml
vendor/robthree/twofactorauth/.github/workflows/test-bacon.yml
vendor/robthree/twofactorauth/.github/workflows/test-endroid.yml
vendor/robthree/twofactorauth/.github/workflows/test.yml
vendor/robthree/twofactorauth/demo/demo.php
vendor/robthree/twofactorauth/docs/_config.yml
vendor/robthree/twofactorauth/docs/getting-started.md
vendor/robthree/twofactorauth/docs/improved-code-verification.md
vendor/robthree/twofactorauth/docs/index.md
vendor/robthree/twofactorauth/docs/optional-configuration.md
vendor/robthree/twofactorauth/docs/qr-codes.md
vendor/robthree/twofactorauth/docs/_layouts/post.html
vendor/robthree/twofactorauth/docs/assets/css/style.scss
vendor/robthree/twofactorauth/docs/qr-codes/bacon.md
vendor/robthree/twofactorauth/docs/qr-codes/endroid.md
vendor/robthree/twofactorauth/docs/qr-codes/image-charts.md
vendor/robthree/twofactorauth/docs/qr-codes/qr-server.md
vendor/robthree/twofactorauth/docs/qr-codes/qrickit.md
vendor/robthree/twofactorauth/lib/Algorithm.php
vendor/robthree/twofactorauth/lib/TwoFactorAuth.php
vendor/robthree/twofactorauth/lib/TwoFactorAuthException.php
vendor/robthree/twofactorauth/lib/Providers/Qr/BaconQrCodeProvider.php
vendor/robthree/twofactorauth/lib/Providers/Qr/BaseHTTPQRCodeProvider.php
vendor/robthree/twofactorauth/lib/Providers/Qr/EndroidQrCodeProvider.php
vendor/robthree/twofactorauth/lib/Providers/Qr/EndroidQrCodeWithLogoProvider.php
vendor/robthree/twofactorauth/lib/Providers/Qr/GoogleChartsQrCodeProvider.php
vendor/robthree/twofactorauth/lib/Providers/Qr/HandlesDataUri.php
vendor/robthree/twofactorauth/lib/Providers/Qr/ImageChartsQRCodeProvider.php
vendor/robthree/twofactorauth/lib/Providers/Qr/IQRCodeProvider.php
vendor/robthree/twofactorauth/lib/Providers/Qr/QRException.php
vendor/robthree/twofactorauth/lib/Providers/Qr/QRicketProvider.php
vendor/robthree/twofactorauth/lib/Providers/Qr/QRServerProvider.php
vendor/robthree/twofactorauth/lib/Providers/Rng/CSRNGProvider.php
vendor/robthree/twofactorauth/lib/Providers/Rng/HashRNGProvider.php
vendor/robthree/twofactorauth/lib/Providers/Rng/IRNGProvider.php
vendor/robthree/twofactorauth/lib/Providers/Rng/OpenSSLRNGProvider.php
vendor/robthree/twofactorauth/lib/Providers/Rng/RNGException.php
vendor/robthree/twofactorauth/lib/Providers/Time/HttpTimeProvider.php
vendor/robthree/twofactorauth/lib/Providers/Time/ITimeProvider.php
vendor/robthree/twofactorauth/lib/Providers/Time/LocalMachineTimeProvider.php
vendor/robthree/twofactorauth/lib/Providers/Time/NTPTimeProvider.php
vendor/robthree/twofactorauth/lib/Providers/Time/TimeException.php
vendor/robthree/twofactorauth/tests/TwoFactorAuthTest.php
vendor/robthree/twofactorauth/tests/Providers/Qr/IQRCodeProviderTest.php
vendor/robthree/twofactorauth/tests/Providers/Qr/TestQrProvider.php
vendor/robthree/twofactorauth/tests/Providers/Rng/CSRNGProviderTest.php
vendor/robthree/twofactorauth/tests/Providers/Rng/HashRNGProviderTest.php
vendor/robthree/twofactorauth/tests/Providers/Rng/IRNGProviderTest.php
vendor/robthree/twofactorauth/tests/Providers/Rng/NeedsRngLengths.php
vendor/robthree/twofactorauth/tests/Providers/Rng/OpenSSLRNGProviderTest.php
vendor/robthree/twofactorauth/tests/Providers/Rng/TestRNGProvider.php
vendor/robthree/twofactorauth/tests/Providers/Time/ITimeProviderTest.php
vendor/robthree/twofactorauth/tests/Providers/Time/TestTimeProvider.php
vendor/robthree/twofactorauth/testsDependency/BaconQRCodeTest.php
vendor/robthree/twofactorauth/testsDependency/EndroidQRCodeTest.php
composer.lock
