/*profile page exclusive */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body{
    width: 100%;
    margin: 0;
    padding:0;
    box-sizing: border-box;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    background-color: #23a6d5;
}

a{
    text-decoration: none;
}

.header__wrapper .sub-header{
    width:100%;
    background: url("https://i.pinimg.com/736x/96/06/37/960637285aaad2ced0919b20afc1d505.jpg") no-repeat 50% 20% / cover;
    /*min-height: calc(100px + 15vw);*/
    height: 200px;
}
.header__wrapper .cols__container .left__col{
    padding: 25px 20px;
    text-align:center;
    max-width: 350px;
    position: relative;
    margin: 0 auto;
}
.header__wrapper .cols__container .left__col .img__container{
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.header__wrapper .cols__container .left__col .img__container img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    box-shadow: 1px 3px 12px rgba(0,0,0,0.18);
}

/* little green bubble on the bottom image*/
.header__wrapper .cols__container .left__col .img__container span{
    position: absolute;
    background:#2afa6a;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    bottom: 3px;
    right: 11px;
    border: 2px solid #fff;
}

.header__wrapper .cols__container .left__col h2{
    margin-top: 60px;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 5px;
}

.header__wrapper .cols__container .left__col p{
    font-size:0.9rem;
    color: black;
    margin:0;
}
.header__wrapper .cols__container .left__col hr{
    border: 2px solid black;
}

.header__wrapper .cols__container .left__col .bio{
    justify-content: space-between;
    position: relative;
    /*  margin: 35px 0;*/
}

.header__wrapper .cols__container .content p{
    font-size: 1rem;
    color: #1d1d1d;
    line-height:1.8em;
    width:200px;
    white-space: pre-line;
    text-overflow: clip;
    overflow: auto;
}

.header__wrapper .cols__container .content ul{
    gap: 30px;
    justify-content: center;
    align-items:center;
    margin-top: 25px;
}

.header__wrapper .cols__container .content ul li{
    font-size: 2.0rem;

}

.header__wrapper .cols__container .right__col nav{
    display: flex;
    align-items: center;
    padding: 30px 0;
    justify-content: space-between;
    flex-direction:column;
}

.header__wrapper .cols__container .right__col nav ul{
    display: flex;
    gap: 20px;
    flex-direction:column;
}

.header__wrapper .cols__container .right__col .info-box{
    position: static;
    width: 1230px;
    height: 715px;
    border: 10px solid black;
    padding-left: 20px;
    margin-top: 0;
    margin-left: 40px;
    background-color: lightgray;
    color: black;
}



.header__wrapper .cols__container .right__col nav ul li:nth-child(1) a{
    color: #1d1d1d;
    font-weight: 600;
}

.header__wrapper .cols__container .right__col nav button:hover{
    opacity: 0.8;
}

.header__wrapper .cols__container .right__col .photos{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    gap:20px;
}

.header__wrapper .cols__container .right__col .photos img{
    max-width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
}

/*Responsiveness*/
@media (min-width: 868px){
    .header__wrapper .cols__container{
        max-width: 1800px;
        margin: 0 auto;
        width: 90%;
        justify-content: space-between;
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 50px;
    }

    .header__wrapper .cols__container .left__col{
        padding: 25px 0;
    }

    .header__wrapper .cols__container .right__col nav ul{
        flex-direction: row;
        gap: 30px;
    }

    .header__wrapper .cols__container .right__col .photos{
        height: 365px;
        overflow: auto;
        padding: 0 0 30px;
    }
}


@media (min-width: 1017px){
    .header__wrapper .cols__container .left__col{
        margin: 0;
        margin-right: auto;
    }

    .header__wrapper .cols__container .right__col nav{
        flex-direction: row;
    }

    .header__wrapper .cols__container .right__col nav button{
        margin-top: 0;
    }
}


#menuToggle
{
    display: block;
    position: relative;
    top: 20px;
    left: 20px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.nav-logo{
    font-size: 22px;
    color: black;
}
.mainlabel{
    font-size: xxx-large;
}
/*heading inside of cards*/
h3{
    font-size: xx-large;
}
/*font inside the cards*/
.w3-third{
    font-family: "Times New Roman";
    font-size: 20px;

}

#footer{
    font-size: x-large;
    color:white;
}
.w3-container-w3-theme-dark-w3-padding-16{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height:10%;
    color:white;
    background: black;
    box-sizing: border-box;
    border:5px solid black;
}
#menuToggle a
{
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
}

#menuToggle a:hover
{
    color: blue;
    padding-left: 20px;
    transition:.4s;
}


#menuToggle input
{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child
{
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
    transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
    transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
    position: absolute;
    width: 350px;
    height: 125vh;
    margin: -77px 0 0 -70px;
    padding: 50px;
    padding-top: 125px;

    background: #bec5c5;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
    padding: 10px 0;
    font-size: 22px;
    box-sizing: border-box;
    border-top:2px solid black;
    border-bottom:2px solid black;
    margin-left: 20px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
    transform: none;
}
.cardimage{
    width: 120px;
}
.navimage{
    width: 120px;
    margin-bottom: 20px;
    margin-left: 75px;
}
.navNYIT{
    padding-top: 100px;
    padding-right: 25px;
    margin-left: 0px;
    width: 275px;
    box-sizing: border-box;
    padding-bottom: 20px;
}
#borderbottom{
    border-bottom: solid black;
    border-bottom-width:20px;
    width:245px;
    margin-left: 5px;
}

.outer-wrapper {
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.9);
    max-width: fit-content;
    max-height: fit-content;
    background-color: lightgray;

}
.table-wrapper {

    overflow-y: scroll;
    overflow-x: scroll;
    height: fit-content;
    max-height: 66.4vh;

    margin-top: 22px;

    margin: 15px;
    padding-bottom: 20px;
    background-color: white;
}


table {

    min-width: max-content;

    border-collapse: separate;
    border-spacing: 0px;

}



table th{
    position: sticky;
    top: 0px;

    background-color: darkred;
    color:white;

    text-align: center;
    font-weight: normal;
    font-size: 18px;
    outline: 0.7px solid black;
    border: 1.5px solid black;

}



table th, table td {

    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

table td {
    text-align: left;

    font-size: 15px;
    border: 1px solid rgb(177, 177, 177);
    padding-left: 20px;

    background-color: white;
    color: black;
}


.RundataHeader {
    text-align: center;
    font-size: 30px;
    color:black;
    font-weight: bolder;
    box-sizing: border-box;
    padding-top: 20px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab,#00DBCE);
    background-size: 400% 400%;
    margin-top: -27px;
    animation: gradient 10s ease infinite;
    font-family: "Helvetica Neue";
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
#myInput {
    margin-top: 8px;
    margin-left: 20px;
    border-radius: 16px;
    color: black;
    border: 2px solid black;

}

#footer{
    font-size: x-large;
    color:white;
}

.w3-container-w3-theme-dark-w3-padding-16{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20%;
    color:white;
    background: black;
    box-sizing: border-box;
    border:5px solid black;
    text-align: center;
    padding-top: 55px;
    font-size: 20px;
}